<% if @model == 'user' %>
  <h3>Users search for "<%= @content %>"</h3>
  <%= render 'searches/search_user', users: @records %>
<% else @model == 'book' %>
  <h3>Books search for "<%= @content %>"</h3>
    <%= render 'searches/search_book', books: @records %>
<% end %>